<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySchool App</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<header>
    <h1>MySchool</h1>
    <p>Kids are our future!</p>
    <nav>
        <ul>
            <li>
                <a href="/admin">Admin</a>
            </li>
            <li>
                <a href="/parent">Parents panel</a>
            </li>
            <li>
                <a href="/teacher">Teachers panel</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>
